<!DOCTYPE html>
<html>
	<head>
		<title>Menu</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}"/>
	</head>
	<body>
		
		<h1>{{ restaurant.name }}</h1>

		<a href='{{url_for('restaurantList')}}'>Back to Main Menu</a>

	</br></br>

		{% for i in items %}

		{{i.name}}
	</br>

		{{i.description}}
	</br>

		{{i.price}}
	</br>
		
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}' >Edit</a>
		
	</br>

		<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'>Delete</a>

	</br>
	</br>

		{% endfor %}
	</body>

</html>